[wrap-git]
directory = bgfx
url = git@github.com:JustEnoughMod/bgfx.meson.git
revision = main
clone-recursive = true
[provide]
bgfx = bgfx_dep
bgfx-example-common = examples_common_dep
bx = bx_dep
bimg = bimg_dep